body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  background-color: #1f1f1f;
}
.navbar-brand {
  margin-left: 2%;
}
.container-fluid {
  margin-top: 10%;
}
.container {
  margin-top: 10%;
}
.btn {
  border-radius: 2px;
}
#header {
  color: #00aae1;
  font-family: "Pacifico", cursive;
}
#action {
  padding-left: 2%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(199, 197, 197);
  border-bottom: 3px solid #363636;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
#logo {
  width: 70px;
  height: 60px;
}

.navbar {
  background-color: #272727;
}

.card-header,
.metadata {
  padding: 0;
  position: relative;
  border-style: none;
}
#genre {
  text-align: right;
}
.metadata {
  font-size: 14px;
  color: #d6d6d6;
}

.metadata p {
  float: left;
  margin-top: 0;
  margin-left: 10px;
}
.metadata i {
  float: left;
  color: #ff9d00;
  margin-top: 5px;
  margin-left: 1px;
}
.rating {
  position: relative;
  border-style: none;
}

.rating {
  float: left;
  font-size: 14px;
  color: #d6d6d6;
}

.rating p {
  float: left;
  margin-top: 0;
  margin-left: 10px;
}
.rating i {
  float: left;
  color: #ff9d00;
  margin-top: 5px;
  margin-left: 1px;
}
.card-img {
  -webkit-clip-path: inset(10% 0 20% 0);
  clip-path: inset(10% 0 20% 0);
  margin-top: -15%;
  transition: transform 0.3s ease-out;
}
.card-body {
  position: relative;
  margin-top: -30%;
  background-color: #000000;
}
.card-body .card-title {
  font-weight: 600;
  font-size: 2rem;
  color: #d6d6d6;
}
.card-body .card-text {
  margin-top: 8px;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 30px;
  color: #949393;
}
.card,
.trailer-preview {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card {
  /* border-radius: 8pt; */
  border-style: none;
  overflow: hidden;
  transform: scale(0.8);
  margin-top: -60px;
}
.card-header {
  background-color: #000;
}
.card:hover > .card-header > img {
  opacity: 0.5;
  transform: scale(1.15);
}
.trailer-preview {
  background-color: #df4242;
  position: absolute;
  top: -46px;
  right: 24px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  color: white;
  font-size: 36px;
  text-align: center;
  padding-top: 13px;
  transition: transform 0.3s ease-out;
}
.trailer-preview:hover {
  background-color: #ff0011;
  color: white;
  transition: transform 0.3s ease-out;
}
.trailer-preview i {
  margin-left: 5px;
}

.social-media {
  display: flex;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.social-media > li {
  list-style: none;
}

.social-media > li > a {
  display: block;
  height: 50px;
  width: 50px;
  background-color: #fff;
  text-align: center;
  color: #262626;
  margin: 0 5px;
  border-radius: 50%;
  opacity: 0;
  transform: translateY(70px);
  transition: all 0.3s ease-out;
}

.card:hover > .social-media > li > a {
  transform: translateY(-50px);
  opacity: 1;
}

.social-media > li > a > .fa {
  font-size: 24px;
  line-height: 50px;
}
#sticky-footer {
  background-color: #272727;
}
.py-2 {
  padding-top: 0 !important;
}
#bg {
  width: 100%;
  height: -webkit-fill-available;
  min-height: 100%;
  background-image: url(../imgs/dummy-img.jpg);
  background-size: cover;
  background-position-x: center;
  box-shadow: 0 3000px rgba(0, 0, 0, 0.4) inset;
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}
#bg img {
  filter: blur(20px);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#data {
  justify-content: center;
}
#big-title {
  color: #d6d6d6;
  font-size: 2em;
  font-weight: 700;
}
#description {
  color: #d6d6d6;
  font-size: 1.2em;
  font-weight: 600;
}
#green-btn {
  margin-bottom: 20px;
}
#overview {
  color: #d6d6d6;
  font-size: 0.9em;
  font-weight: 400;
}
/* #poster {
  padding: 5%;
} */
/* .tint {
  z-index: 1;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  background: rgba(0, 0, 0, 0.75);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
} */
